
article{
  color: gray;  
}
header{
    color: hotpink;
    background-color: honeydew;
}
footer{
    background-color: honeydew;
    border: dotted;
}
article{
    float:left;
max-width: 50%;
padding:1em;
margin:0.5em;
border:none;
}


    
    
